NAME_MODEL="qwen3:8b"
REASONING_MODEL=False # True | False | None
NUM_PREDICT=512
TEMPERATURE=0.1

POSTGRES_USER=voice_agent
POSTGRES_PASSWORD=change_me
POSTGRES_DB=voice_agent
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Получить у @BotFather в Telegram
BOT_TOKEN=change_me
API_BASE_URL=http://127.0.0.1:8000